<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="{{STATIC_URL}}js/d3.v3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <title>Bing Graph</title>  
  <style>
      #map-container { height: 580px; }
      #videolist{
        overflow-y:auto;
        overflow-x:hidden;
        height:500px;
        width:150px;
      }
  </style>
</head>
<body>
<h1>{{title}}</h1>
<div class = "container-fluid">
     <h4>Video List</h4>
    <div class="col-md-1" id="videolist">
        {% for item in lists%}
            <li>
                <span>
                    <h6>{{item.title}}</h6>
                    <img width="100" height="100" src="{{STATIC_URL}}{{item.path}}">
                </span>
            </li>
        {% endfor %}
    </div>
  <div class ="col-md-3" id ="bing">
    <h4>Bing</h4>
  </div>
  <div class ="col-md-7" id = "map">
    <h4>Map</h4>
    <div id = "map-container" width:800px height:800px></div>      
  </div>
</div>
</body>
</html>
<script src="{{STATIC_URL}}js-self/bing_test.js"></script>